/Assignment #1 - Functional Specification/~$235 - Assignment #1 - Functional Specification.docx
/Assignment #3 - Application Prototype/~$235 - Assignment #3 - Final Report.docx
*.tmp
/Assignment #3 - Application Prototype/~$CS235 - Assignment #3 - Application Prototype.pptx
/Lectures/~$CS235 - UI Design - Lecture #14 - 2015.03.10.pptx
/Assignment #4 - iOS Prototype/~$CS235 - Assignment #4 - Mobile Prototype.pptx
/Assignment #4 - iOS Prototype/Report/~$235 - Assignment #4 - Final Report.docx
/Final_Project/Source Data/~$Olympic Medal Count 2004 to 2012.xlsx
/Final_Project/Source Data/~$Medals Per Capita.xlsx
/Final_Project/Source Data/~$Olympic Events Per Year.xlsx
/Final_Project/Source Data/~$Olympic Athletes by Country - London 2012.xlsx
/Final_Project/Report/~$235 - Assignment #4 - Final Report.docx
/Lectures/~$CS235 - UI Design - Lecture #26 - 2015.04.28.pptx
/Final_Project/Report/~$235 - Final Project Report.docx
/Final_Project/Presentation/~$235 Final Presentation Notes.docx
/Lectures/~$CS235 - UI Design - Lecture #23 - 2015.04.16.pptx
/Lectures/~$CS235 - UI Design - Lecture #22 - 2015.04.14.pptx
/Lectures/~$CS235 - UI Design - Lecture #27 - 2015.04.30.pptx
