/*******************
FONTS
*******************/

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);


body {
	/*background: url(../images/bg.png) repeat;*/
	background-color: #FAFAFA;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	text-align: left;
	text-decoration: none;
}

#wrapper {
	/* Center wrapper perfectly */
	max-width: 1300px;
	min-width: 600px;
	max-height: 800px;
	margin: auto;
	
	overflow: hidden;
	
}



.main-panel {
	float: center;

	margin: 0px auto;
	width: inherit;
}

/*******************
CALENDAR
*******************/


.main-panel .calendar {
	float: left;

	width: 69%;

}


/*******************
Accordion
*******************/


.main-panel .side-list {
	
	float: right;
	
	overflow: scroll;
	
	height: inherit;
	width: 30%;
	
}


.main-panel .side-list h3 {
	font-size: 12px;
	line-height: 14px;
	color: black;
	text-align: left;
	//text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}


.main-panel .side-list p {
	font-size: 11px;
	line-height: 13px;
	color: black;
	text-align: left;
	//text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

